<!DOCTYPE html>
<html lang="en">
<head>
	<style>




		body {
			/*background-image: url("https://i.hizliresim.com/f778n8h.jpg");*/
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
		}

	</style>
</head>
<body>


	<header class="masthead">
		<div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
			<div class="d-flex justify-content-center">
				<div class="text-center">
					<h1 class="mx-auto my-0 text-uppercase">Square Agency</h1>
					<p class="text-white-50 mx-auto mt-2 mb-5">
						Aloha VERA, KAREAJANS Muhasebe Müdürü

						KareAjans çatısı altında benim görevim ise mankenlerin gönderildiği işten ne kadar para alacağını hesaplayıp ödeme yapabilmek.Her organizasyon için günlük ayrı ödeme yapılmakta,bu fiyat şirketlerin bize verdiği ödemeye göre farklılık göstermektedir. Ayrıca mankenler profesyonellik düzeylerine göre kategorilere sahipler. Örneğin, ufak standlarda (alışveriş merkezlerindeki yiyecek standları vb.) çalışan mankenlerimiz kategori 1, büyük organizasyonlarda çalışan yüksek ücret isteyen ünlü mankenler kategori 3 olarak geçiyor. Biz yaptığımız anlaşmaya göre karşı firmadan aldığımız ücretten bağımsız olarak 40 ytl kategori 1 çalışanlarına, 100 YTL kategori 2 çalışanlarına, bunlardan farklı olarak aldığımız ücretin % 20’si kategori 3 çalışanlarına  ödenmektedir. Eğer  organizasyonda birden çok kategori 3 çalışanı var ise karsı firmadan alınan ucretin  %20si  kişiler arasında bölüştürülerek ödeme yapılmaktadır.

						Mankenler eğer yaşadıkları şehir dışında bir yere gönderilmişse, konaklama olanağını ve günde iki öğün yemeği,eğer şehir içindelerse sadece bir öğün yemeği şirketimiz karşılamakta.Öğün başına sirketimizin limiti 10 ytl dir.
						Konaklama ücreti ise 40 ytl olarak sabitlenmiştir.

						.
						Örneğin; Cebit fuarında Turkcell standına dört manken gönderilmiş, Bunlardan ikisi kategori 3, biri kategori 2, biri kategori 1. Kategori 3 mankenler bu iş için 1000 YTL talep ediyorlar.


						Mkn	Kat.	Gün	Konaklama	Yiyecek	Konum	Ödenecek	Harcama
						Aysun	3	-	-	-	Ş.içi	1000	50
						Şebnem	3	-	-	-	Ş.içi	1000	50
						Zeynep	2	5	-	-	Ş.içi	500	50
						Dürdane	1	5	-	-	Ş.içi	200	50
						Toplam	2700	200
						Genel toplam	2900
						Kar	10000–2900 = 7100

						Kategori 3 ödeme şekli:
						Şirketten alınacak ücret 10000 YTL

						10000 * %20 / 2 (kişi sayısı) = 1000 YTL Mankenlere ödenecek miktar.

						Şehir içi organizasyon olduğu için günlük tek öğün yemek ödeneceğinden
						10 * 5 = 50 YTL yiyecek ücreti.

						Dikkat edildiği üzere kategori 3 mankenlere masraflar haricinde gün sayısına bakılmaksızın yüzde olarak ödeme yapılmıştır.

						Kategori 2 ödeme şekli:
						5 günlük organizasyon olduğundan dolayı: 5 * 100 = 500 YTL ödeme.

						Şehir içi organizasyon olduğu için günlük tek öğün yemek ödeneceğinden
						10 * 5 = 50 YTL yiyecek ücreti.

						Kategori 1 ödeme şekli:
						5 günlük organizasyon olduğundan dolayı: 5 * 40 = 200 YTL ödeme.

						Şehir içi organizasyon olduğu için günlük tek öğün yemek ödeneceğinden
						10 * 5 = 50 YTL yiyecek ücreti.
					</p>
					<a class="btn btn-primary" href="#about"> click For More Info</a>
				</div>
			</div>
		</div>
	</header>
        
		
	

	<script type="text/javascript">

	</script>
</body>
</html>