@page
@model KareAjans.Pages.Contracts.EditModel

@{
    ViewData["Title"] = "Edit";
}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/colorlib-regform-3/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-3/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/colorlib-regform-3/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-3/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/colorlib-regform-3/css/main.css" rel="stylesheet" media="all">
</head>

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">



            <div class="px-4 py-5 rounded text-white">
<h1>Edit</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contract.ID" />
            <div class="form-group">
                <label asp-for="Contract.Actor" class="control-label"></label>
                <select asp-for="Contract.ActorID" asp-items="@Model.ActorSL" class="form-control">
                </select>
                <span asp-validation-for="Contract.Actor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ManagingStaff" class="control-label"></label>
                <select asp-for="Contract.ManagingStaffID" asp-items="@Model.ManagingStaffSL" class="form-control">
                </select>
                <span asp-validation-for="Contract.ManagingStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.StartDate" class="control-label"></label>
                <input asp-for="Contract.StartDate" class="form-control" />
                <span asp-validation-for="Contract.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EndDate" class="control-label"></label>
                <input asp-for="Contract.EndDate" class="form-control" />
                <span asp-validation-for="Contract.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.TotalPrice" class="control-label"></label>
                <input asp-for="Contract.TotalPrice" class="form-control" />
                <span asp-validation-for="Contract.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
